<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <!-- css link start -->
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
      crossorigin='anonymous'
    />
    <link rel='stylesheet' href='css/style.css' />
    <!-- css link end -->
  </head>
  <body>
    <!-- header start -->
   
{{>navbar}}
    <!-- registration part start -->

    <section class='registration-form'>
      <div class='container'>
        <div class='row align-items-center'>
          <div class='col-lg-6'>
            <img class='w-75' src='images/register.jpg' alt='' />
          </div>
          <div class='col-lg-6'>
           <form action="/register" class="row g-3" method="POST">
              <div class="col-md-6">
    <label for="inputname4" class="form-label">Full Name</label>
    <input placeholder="Enter you name" type="text" class="form-control" id="inputname4" name="name">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" placeholder="Enter you Email" class="form-control" id="inputEmail4" name="email">
  </div>
 
  <div class="col-md-6">
    <label for="inputpass4" class="form-label">Password</label>
    <input placeholder="Type Password" type="password" class="form-control" id="inputpass4" name="password">
  </div>
  <div class="col-md-6">
    <label for="inputPasswordconf4" class="form-label">Confirm Password</label>
    <input placeholder="Confirm Password" type="password" class="form-control" id="inputPasswordconf4" name="confirmpassword">
  </div>
 
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">Phone</label>
    <input placeholder="+88199949..." type="tel" class="form-control" id="Phone" name="phone">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">Gender</label>
<div class="d-flex align-items-center justify-content-between">
     <div class="form-check">
  <input class="form-check-input" type="radio" name="gender" value="male" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Male
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="gender" value="female" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Female
  </label>
</div>
</div>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip" name="zip">
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-danger">Register</button>
  </div>
</form>
          </div>
        </div>
      </div>
    </section>

    <!--  registration part end -->

    <script
      src='https://kit.fontawesome.com/03e39c9aff.js'
      crossorigin='anonymous'
    ></script>
  </body>
</html>