<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <div class='container'>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarTogglerDemo01'
      aria-controls='navbarTogglerDemo01'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarTogglerDemo01'>
      <a class='navbar-brand' href='#'>
        <span class='fw-bold'>Easy</span>Sharing<i
          class='far fa-comment-dots ms-1 text-danger'
        ></i>
      </a>
      <ul class='navbar-nav m-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a
            class='nav-link fw-bolder mx-2'
            aria-current='page'
            href='/'
          >Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link fw-bolder mx-2' href='#'>About</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link fw-bolder mx-2' href='#'>Contact</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link fw-bolder mx-2' href='/register'>Register
          </a>
        </li>
        <li class='nav-item'>
          <a class='nav-link fw-bolder mx-2' href='/login'>Login
          </a>
        </li>
      </ul>
      <form class='d-flex align-items-center'>
        <div class='input-group'>
          <input
            type='text'
            class='form-control'
            placeholder='Search Query'
            aria-label="Recipient's username"
            aria-describedby='button-addon2'
          />
          <button class='btn btn-danger' type='button' id='button-addon2'>
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
</nav>

<!-- header end -->